

body{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

/* .container{
margin: 0px 30px;
} */

.nav1{
    display: flex;
    background-color: #0aaaa0;
    color: white;
}

.nav1_left {
    margin:4px 0px 4px 118px;
}
.nav1_left a{
    margin:0px 8px;
    text-decoration: none;
    color: white;
}
.nav1_right{
    margin:4px 0px 4px 540px;
}
.nav1_right a{
    margin:0px 6px;
    text-decoration: none;
    color: white; 
}
.nav2{
    display: flex;
    margin-bottom: -30px;
}

.nav2_left {
  margin: 4px 117px;
}
.nav2_left img{
  width: 100px;
}
.nav2_right{
  margin: 16px 0px 16px 245px;
}
.nav2_right a{
    margin:0px 13px;
    font-weight: 550;
    color: black;
    text-decoration: none;
}

.nav2_rightMost{
  margin: 18px 0px 18px 72px;
}

.nav2_rightMost a{
    padding: 3px 8px;
    font-weight: 500;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.part2{
  height: 405px;
  background-image: url('../images/header.jpg'); 
  }

.part2 h1{
    margin-bottom: -15px;
    font-size: 40px;
    padding: 120px 0px 0px 123px;
    color: #fff;
}

.part2 p{
    padding: 0px 25vw 0px 123px;
    color: #fff;
    font-size: 14px;
}

.part2 .buton{
    display: flex;

}
.part2 .buton1{
    margin: 0px 0px 0px 123px;
    padding: 10px 12px;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}
.part2 .buton2{
    margin: 0px 0px 0px 30px;
    padding: 10px 12px;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}

.part2 .buton1:hover , .buton2:hover{
    background-color: #17a2b8;
}

.part6{
   height: 350px;
   text-align: center;
   color: aliceblue;
   /* background-color: black; */
   background-image: url('../images/background_part6.jpg');
   background-repeat: no-repeat;
}

.part6 h3{
    padding-top: 30px;
    padding-bottom: 0px;
}

.part6 .img{
    border-radius:50% 50% 50% 50%;  
    width:100px;
    height:100px;
    border-bottom: 1px solid white;
}

.part6 .text1{
    font-size: 15px;
}

.volunteers{
    text-align: center;
    margin-bottom: -10px;
    color: #0aaaa0;
}

.volunteersImg{
   margin: 0px 570px;
}

.disc{
    font-size: 13px;
    text-align: center;
    margin: 0px 100px 40px 100px;
}
.part5 .part5img{
    width: 190px;
    margin-bottom: -20px;
}

.part5{
    display: flex;
    justify-content: center;
}

.part5 div{
padding: 0px 60px;
}
 

.part5 p {
    text-align: center;
}
.part5 span{
    font-size: 13px;
}


.footer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 25px 70px;
 background-color: rgb(10, 0, 0);
 color:#fff;
 margin-top: 30px;
}
/* .footer h3{
  border-bottom: 2px solid #0aaaa0;
} */
.colums1{
  padding-right: 65px;
}
.colums2{
  margin-right: 35px;
}
.colums4{
  margin-left: 28px;
}

.colums2 .ourProj{
   display: flex;
   flex-direction: column;
   padding-right: 25px;

}
.colums2 .ourProj a{
  padding-top: 8px;
  text-decoration: none;
  color: #fff;
}
.colums2 .ourProj a span{
margin-right: 13px;
}

.colums3 .quicklink{
   display: flex;
   flex-direction: column;
   padding-right: 25px;

}
.colums3 .quicklink a{
  padding-top: 8px;
  text-decoration: none;
  color: #fff;
}
.colums3 .quicklink a span{
margin-right: 13px;
}
.colums4 input{
  padding: 7px;
  font-size: 16px;
}


.colums4 i{
  background-color: #0aaaa0;
 padding: 9.6px 15px;
}


.bottom_most{
  display: flex;
  background-color: rgb(14, 8, 8);
  color: #fff;
}

.bottom_most .botom p{
  margin-left: 70px ;
}
.bottom_most .media-ican{
margin: 18px;
margin-left: 730px;
}
.bottom_most .media-ican a{
padding: 0px 7.5px;
color: aliceblue;
}